<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorate="~{layout/common/default}"
>
  <body>
    <div layout:fragment="content">
      <header
        th:replace="fragment/common/header :: header ('請求書一覧')"
      ></header>
      <div class="h-100 row mb-4" style="position: relative">
        <div class="col-6 left">
          <table class="ui celled table">
            <thead class="">
              <tr class="">
                <th class="">詳細</th>
                <th class="">状態</th>
                <th class="one wide">取引先・支払期日 / 請求金額</th>
                <th class="one wide">支払方法</th>
                <th class="one wide">オンライン受領方法</th>
                <th class="">請求書種別</th>
                <th class="">登録日時</th>
              </tr>
            </thead>
            <tbody class="">
              <tr th:each="invoice : ${invoices}">
                <td><a href="javascript:void(0)" class="edit-link">詳細</a></td>
                <td th:text="${invoice.status}">ステータス</td>
                <td class="one wide" th:text="${invoice.clientName}">
                  取引先・支払い期日 / 請求金額
                </td>
                <td class="one wide" th:text="${invoice.paymentMethod}">
                  支払方法
                </td>
                <td th:text="${invoice.submitMethod}">オンライン受領方法</td>
                <td th:text="${invoice.invoiceType}"></td>
                <td
                  th:text="${#dates.format(invoice.createdAt, 'yyyy/MM/dd HH:mm:ss')}"
                ></td>
              </tr>
              <div></div>
            </tbody>
          </table>
        </div>
        <div class="col-6 right" id="rightDiv" style="position: relative">
          <div class="sidebar" style="left: 0px">
            <div class="container">
              <form
                id="invoice-form"
                action="#"
                th:action="@{/invoice/edit}"
                method="post"
                th:object="${invoiceForm}"
              >
                <div class="mb-4">
                  <div class="flex">
                    <a href="javascript:void(0)" class="close-link">×</a>
                    <h5 class="border-bottom pb-2">請求書情報</h5>
                    <span id="created_at"></span>
                  </div>
                  <table class="table table-striped mt-3">
                    <tbody>
                      <input type="hidden" th:field="*{id}" />
                      <input type="hidden" th:field="*{company_id}" />
                      <input type="hidden" th:field="*{image_id}" />
                      <input type="hidden" th:field="*{status}" />
                      <tr>
                        <td>取引先</td>
                        <td>
                          <input
                            class="form-control"
                            id="client_name"
                            type="text"
                            th:field="*{clientName}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>適格事業者登録番号</td>
                        <td>
                          <input
                            class="form-control"
                            id="invoice_registration_number"
                            type="text"
                            th:field="*{invoiceRegistrationNumber}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>請求金額</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="invoiced_amount"
                            th:field="*{invoicedAmount}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>消費税率</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="consumption_tax_rate"
                            th:field="*{consumptionTaxRate}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>税額</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="tax_amount"
                            th:field="*{taxAmount}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>税抜金額</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="excluding_tax_amount"
                            th:field="*{excludingTaxAmount}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>税込金額</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="including_tax_amount"
                            th:field="*{includingTaxAmount}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>支払期日</td>
                        <td>
                          <input
                            class="form-control"
                            id="payment_due_date"
                            type="date"
                            th:field="*{paymentDueDate}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>支払方法</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="payment_method"
                            th:field="*{paymentMethod}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>請求書種別</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="invoice_type"
                            th:field="*{invoiceType}"
                          />
                        </td>
                      </tr>

                      <tr>
                        <td>銀行コード</td>
                        <td>
                          <select
                            class="form-control"
                            id="bank_code"
                            th:field="*{bankCode}"
                          >
                            <option value="">選択してください</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>銀行名</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="bank_name"
                            th:field="*{bankName}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>支店コード</td>
                        <td>
                          <select
                            class="form-control"
                            id="branch_code"
                            th:field="*{branchCode}"
                          >
                            <option value="">選択してください</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>支店名</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="branch_name"
                            th:field="*{branchName}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>口座種別</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="account_type"
                            th:field="*{accountType}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>口座番号</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="account_number"
                            th:field="*{accountNumber}"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td>口座名義人</td>
                        <td>
                          <input
                            class="form-control"
                            type="text"
                            id="account_holder_name"
                            th:field="*{accountHolderName}"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button type="submit" class="btn btn-primary">
                  変更を保存する
                </button>
              </form>
            </div>
          </div>
          <div class="right-1">
            <embed
              id="filePreview"
              src=""
              width="100%"
              height="100%"
              type="application/pdf"
            />
          </div>
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="button"
            onclick="window.location.href='/'"
          >
            戻る
          </button>
        </div>
      </div>

      <style>
        .sidebar {
          position: absolute;
          z-index: 1;
          width: 40vw;
          transition: all 0.5s 0s ease;
          background-color: white;
          height: 100%;
          overflow: auto;
        }
        .right-1 {
          position: absolute;
          right: 0;
          background-color: cadetblue;
          z-index: 2;
          width: 100%;
          height: 100%;
        }
      </style>

      <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
          // 選択行保持変数
          let selectedRow = null

          // 金融機関情報取得API APIキー格納変数
          const headers = {
            apikey: 'MwM1S003c4G5HylAP8hBFzeg6aGFSGe8iBX9yBV', // 実際のAPIキーに置き換える
          }

          // 請求書レコード情報格納変数
          let invoices =
            /*[[${invoices}]]*/

            /* 詳細ボタンクリック時の処理
             * サイドバーを表示させ、サイドバーの情報を選択されたレコードの情報で埋める
             */
            document.querySelectorAll('.edit-link').forEach(function (link) {
              link.addEventListener('click', function () {
                let row = this.closest('tr')
                let rowIndex = Array.from(row.parentNode.children).indexOf(row)
                let invoice = invoices[rowIndex]

                let branchDataArray = []

                // fetchBankInfo関数を呼び出す
                fetchBranchInfo(branchDataArray, invoice.bankCode, null).then(
                  (branchDataArray) => {
                    const selectElement = document.getElementById('branch_code')

                    // 取得した銀行コードをセレクトリストに追加
                    branchDataArray.forEach((branch) => {
                      const optionElement = document.createElement('option')
                      optionElement.value = branch.code
                      optionElement.textContent = `(${branch.code}) ${branch.name}`
                      selectElement.appendChild(optionElement)
                    })
                  }
                )

                if (selectedRow !== rowIndex) {
                  document.getElementById('id').value = invoice.id
                  document.getElementById('company_id').value =
                    invoice.companyId
                  document.getElementById('image_id').value = invoice.imageId
                  document.getElementById('status').value = invoice.status
                  document.getElementById('client_name').value =
                    invoice.clientName
                  document.getElementById('invoice_registration_number').value =
                    invoice.invoiceRegistrationNumber
                  document.getElementById('invoiced_amount').value =
                    invoice.invoicedAmount
                  document.getElementById('consumption_tax_rate').value =
                    invoice.consumptionTaxRate
                  document.getElementById('tax_amount').value =
                    invoice.taxAmount
                  document.getElementById('excluding_tax_amount').value =
                    invoice.excludingTaxAmount
                  document.getElementById('including_tax_amount').value =
                    invoice.includingTaxAmount
                  document.getElementById('payment_due_date').value =
                    invoice.paymentDueDate
                  document.getElementById('payment_method').value =
                    invoice.paymentMethod
                  document.getElementById('invoice_type').value =
                    invoice.invoiceType
                  document.getElementById('bank_code').value = invoice.bankCode
                  document.getElementById('bank_name').value = invoice.bankName
                  document.getElementById('branch_code').value =
                    invoice.branchCode
                  document.getElementById('branch_name').value =
                    invoice.branchName
                  document.getElementById('account_type').value =
                    invoice.accountType
                  document.getElementById('account_number').value =
                    invoice.accountNumber
                  document.getElementById('account_holder_name').value =
                    invoice.accountHolderName

                  const date = new Date(invoice.createdAt)
                  const formattedDate = `${date.getFullYear()}/${String(
                    date.getMonth() + 1
                  ).padStart(2, '0')}/${String(date.getDate()).padStart(
                    2,
                    '0'
                  )} ${String(date.getHours()).padStart(2, '0')}:${String(
                    date.getMinutes()
                  ).padStart(2, '0')}:${String(date.getSeconds()).padStart(
                    2,
                    '0'
                  )}`

                  document.getElementById('created_at').innerText =
                    '登録日時 ' + formattedDate

                  let filePreview = document.getElementById('filePreview')
                  filePreview.src =
                    'data:application/pdf;base64,' + invoice.base64Image
                }
                selectedRow = rowIndex

                const left1 = document.querySelector('.sidebar')

                if (left1.style.left === '0px') {
                  left1.style.left = '-40vw'
                }
              })
            })

          // サイドバー閉じる処理
          document
            .querySelector('.close-link')
            .addEventListener('click', function () {
              const left1 = document.querySelector('.sidebar')
              left1.style.left = '-0px'
            })

          /**
           * APIから銀行データを非同期で取得する関数
           * @param {Array} bankDataArray
           * @param {String} cursor
           */
          async function fetchBankInfo(bankDataArray, cursor) {
            // カーソルが指定されていれば、URLに追加
            const url = cursor
              ? `https://apis.bankcode-jp.com/v2/banks?cursor=${cursor}&limit=2000`
              : 'https://apis.bankcode-jp.com/v2/banks?limit=2000'

            const response = await fetch(url, {
              headers: headers,
            })
            const data = await response.json()
            bankDataArray = bankDataArray.concat(data.data) // データを配列に追加

            // 次のカーソルが存在する場合、再帰的に関数を呼び出す
            if (data.hasNext) {
              await fetchBankInfo(data.nextCursor)
            }
            return bankDataArray
          }

          /**
           * APIから支店データを非同期で取得する関数
           * @param {Array} branchDataArray
           * @param {String} bankCode
           * @param {String} cursor
           * @returns {Array} branchDataArray
           */
          async function fetchBranchInfo(branchDataArray, bankCode, cursor) {
            // カーソルが指定されていれば、URLに追加
            const url = cursor
              ? `https://apis.bankcode-jp.com/v2/banks/${bankCode}/branches?cursor=${cursor}&limit=2000`
              : `https://apis.bankcode-jp.com/v2/banks/${bankCode}/branches?limit=2000`

            const response = await fetch(url, {
              headers: headers,
            })
            const data = await response.json()
            branchDataArray = branchDataArray.concat(data.data) // データを配列に追加

            // 次のカーソルが存在する場合、再帰的に関数を呼び出す
            if (data.hasNext) {
              await fetchBranchInfo(branchCode, cursor)
            }

            return branchDataArray
          }

          // 銀行データ配列格納変数
          let bankDataArray = []

          // fetchBankInfo関数を呼び出して、画面に銀行情報を保持
          fetchBankInfo(bankDataArray, null).then((bankDataArray) => {
            const selectElement = document.getElementById('bank_code')

            // 既存の<option>タグをクリア
            selectElement.innerHTML = ''

            // 取得した銀行コードをセレクトリストに追加
            bankDataArray.forEach((bank) => {
              const optionElement = document.createElement('option')
              optionElement.value = bank.code
              optionElement.textContent = `(${bank.code}) ${bank.name}`
              selectElement.appendChild(optionElement)
            })
          })

          // 銀行コードのセレクトリストの値が変更されたら、銀行名をセットする
          document
            .getElementById('bank_code')
            .addEventListener('change', function () {
              const bankNameArray = Array.from(this.options).map((option) => {
                // 正規表現を使用して支店名を抽出
                const match = option.textContent.match(/\(\d{4}\) (.+)/)
                return { code: option.value, name: match ? match[1] : '' }
              })

              bankNameArray.filter((bank) => {
                if (bank.code === this.value) {
                  document.getElementById('bank_name').value = bank.name
                }
              })

              let branchDataArray = []

              // fetchBankInfo関数を呼び出して、その結果をログとして表示
              fetchBranchInfo(branchDataArray, this.value, null).then(() => {
                const selectElement = document.getElementById('branch_code')

                // 取得した銀行コードをセレクトリストに追加
                branchDataArray.forEach((branch) => {
                  const optionElement = document.createElement('option')
                  optionElement.value = branch.code
                  optionElement.textContent = `(${branch.code}) ${branch.name}`
                  selectElement.appendChild(optionElement)
                })
              })
            })

          // 支店コードのセレクトリストの値が変更されたら、支店名をセットする
          document
            .getElementById('branch_code')
            .addEventListener('change', function () {
              const branchNameArray = Array.from(this.options).map((option) => {
                // 正規表現を使用して支店名を抽出
                const match = option.textContent.match(/\(\d{3}\) (.+)/)
                return { code: option.value, name: match ? match[1] : '' }
              })
              branchNameArray.filter((branch) => {
                if (branch.code === this.value) {
                  document.getElementById('branch_name').value = branch.name
                }
              })
            })
        })
      </script>
    </div>
  </body>
</html>
